<launch>
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0" />
	<node name="control" pkg="control" type="control.py" output="screen" />
	<!-- node name="odometry" pkg="odometry" type="odometry.py" -->
	<!-- node name="line_follower" pkg="odometry" type="line_follower.py" -->
	<!-- node name="gps" pkg="gps" type="gps_ros.py" output="screen" -->
</launch>